## Kaggle competition nlp-getting-started: Classifying natural disaster texts

In [13]:
!mkdir C:\Users\Ramello\kagglefiles\nlp-getting-started

!kaggle competitions download nlp-getting-started - p

Downloading nlp-getting-started.zip to C:\Users\Ramello

  0%|          | 0.00/593k [00:00<?, ?B/s]
100%|##########| 593k/593k [00:00<00:00, 3.76MB/s]
100%|##########| 593k/593k [00:00<00:00, 3.71MB/s]

In [14]:
from zipfile import ZipFile
  
# specifying the zip file name
file_name = "nlp-getting-started.zip"
  
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    zip.printdir()
    zip.extractall()

File Name                                             Modified             Size
sample_submission.csv                          2019-12-16 20:36:22        22746
test.csv                                       2019-12-16 20:36:22       420783
train.csv                                      2019-12-16 20:36:22       987712
Extracting all the files now...
Done!

In [2]:
import numpy as np
import pandas as pd

nlp_df = pd.read_csv('train.csv')

In [3]:
nlp_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

Columns
- id - a unique identifier for each tweet
- text - the text of the tweet
- location - the location the tweet was sent from (may be blank)
- keyword - a particular keyword from the tweet (may be blank)
- target - in train.csv only, this denotes whether a tweet is about a real disaster (1) or not (0)

In [5]:
nlp_df.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [8]:
nlp_df[nlp_df.target==0].head(10)

    id keyword location                          text  target
15  23     NaN      NaN                What's up man?       0
16  24     NaN      NaN                 I love fruits       0
17  25     NaN      NaN              Summer is lovely       0
18  26     NaN      NaN             My car is so fast       0
19  28     NaN      NaN  What a goooooooaaaaaal!!!!!!       0
20  31     NaN      NaN        this is ridiculous....       0
21  32     NaN      NaN             London is cool ;)       0
22  33     NaN      NaN                   Love skiing       0
23  34     NaN      NaN         What a wonderful day!       0
24  36     NaN      NaN                      LOOOOOOL       0

In [6]:
import spacy
#!python -m spacy download en_core_web_sm

In [7]:
nlp = spacy.load('en_core_web_sm')